@use '../base/base' as *;
@use '../abstracts/mixins' as *;

.socials {
   display: flex;
   gap: var(--s-3xl);
   line-height: var(--lh-xs);

   & li {
      list-style: none;
   }

   & a:link,
   & a:visited {
      display: inline-block;
      font-size: var(--s-3xl);
      color: var(--cl-neutral-600);

      transition: all 0.1s;
   }

   @include hover {
      color: var(--cl-neutral-500);
   }
}
