@use '../base/base' as *;
@use '../abstracts/mixins' as *;

.footer {
   background-color: var(--cl-accent-shade-2);
   color: var(--cl-neutral-50);
   overflow: hidden;

   // Alignement ----------

   @include grid(4rem);
   padding: var(--ws-2xs) 0;

   @include respond(phone) {
      gap: 8rem;
   }

   // Logo ----------

   &__logo {
      @include flex-column(1rem);
      justify-self: center;
      align-items: center;
      cursor: pointer;

      @include respond(phone) {
         padding-top: 4rem;
      }

      & img {
         width: var(--s-big-4);
         filter: invert(1);

         @include respond(phone) {
            width: var(--ws-sm);
         }
      }

      & span {
         font-size: var(--s-2xl);
         font-weight: var(--fw-3xl);
      }
   }

   // Links ----------

   &__link-box {
      width: 60vw;

      @include respond(tab-land) {
         width: 80vw;
      }

      @include respond(tab-port) {
         width: 90vw;
         margin: 0 auto;
      }

      @include respond(phone) {
         width: 70vw;
      }
   }

   &__links {
      @include flex-gap(4rem);
      padding: var(--ws-3xs);

      border-top: 1px solid var(--cl-neutral-300);
      border-bottom: 1px solid var(--cl-neutral-300);

      @include respond(tab-port) {
         gap: 1.7vw;
      }

      @include respond(phone) {
         display: grid;
         grid-template-columns: 1fr 0.21fr 0.9fr;
         row-gap: 3rem;
         margin: 0 auto;
      }

      & li {
         list-style: none;

         & span,
         & a:link,
         & a:visited {
            text-decoration: none;
            color: #fff;
            font-size: var(--s-lg);
            border-bottom: 1px solid transparent;
            transition: all 0.2s;

            @include respond(phone) {
               font-size: var(--s-2xl);
            }

            &::selection {
               background-color: var(--cl-accent-tint);
               color: #fff;
            }
         }

         & span {
            @include hover {
               color: var(--cl-neutral-300);
               border-bottom: 1px solid var(--cl-neutral-300);
            }
         }
      }
   }

   // Contact box ----------

   &__contacts {
      @include flex-gap(10rem);

      @include respond(tab-port) {
         gap: 6vw;
      }

      @include respond(phone) {
         flex-direction: column;
      }

      & span,
      & a:link,
      & a:visited {
         font-size: var(--s-md);
         text-decoration: none;
         color: #fff;
         transition: all 0.2s;

         @include respond(phone) {
            font-size: var(--s-2xl);
         }

         &::selection {
            background-color: var(--cl-accent-tint);
            color: #fff;
         }
      }

      & span {
         @include hover {
            color: var(--cl-neutral-300);
         }
      }

      .working-hours {
         @include hover {
            color: #fff;
         }
      }
   }

   &__contact {
      @include flex-column(1.5rem);

      .contact__icon {
         align-self: center;
      }

      & span {
         text-align: center;
      }

      & div {
         @include flex-column(1rem);
      }
   }

   .contact__icon {
      font-size: var(--s-2xl);
      color: #fff;

      @include respond(phone) {
         font-size: var(--s-4xl);
      }
   }

   // Socials ----------

   .socials {
      justify-self: center;
      padding: var(--s-3xl) 0 var(--s-xs) 0;

      border-bottom: 1px solid var(--cl-neutral-300);

      @include respond(phone) {
         height: var(--s-big-2);

         border-bottom: none;
         border-top: 1px solid var(--cl-neutral-300);
      }

      &__icon {
         color: #fff;
         transition: all 0.2s;

         @include respond(phone) {
            font-size: var(--s-big-1);
         }

         @include hover {
            color: var(--cl-neutral-300);
            cursor: pointer;
         }
      }
   }

   // Other info ----------

   & p {
      font-size: var(--s-xs);
      justify-self: center;
      text-align: center;
      line-height: var(--lh-xl);

      &::selection {
         background-color: var(--cl-accent-tint);
         color: #fff;
      }
   }

   &__credit {
      &:link,
      &:visited {
         color: var(--cl-neutral-50);
         transition: all 0.3s;
         text-decoration: none;
         text-transform: uppercase;
         border-bottom: 1px solid var(--cl-neutral-300);
      }

      @include hover {
         color: var(--cl-neutral-300);
         border-bottom: 1px solid var(--cl-neutral-400);
      }
   }
}
